@{
	ViewData["Title"] = "Home Page";
}

<head>
	<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
	<style>
		* {
			margin: 0;
			padding: 0;
		}

		body {
			text-align: center; /* Centro todo el contenido en el cuerpo de la página */
		}
		.banner {
			display: flex;
			margin-top: 80px;
		}

		.left-column,.right-column {
			flex-basis: 50%;
			text-align: center;
		}

			.left-column img {
				width: 100%;
				object-fit: cover; /* Evita que la imagen se estire */
				height: 100%;
			}

		.right-column {
			display: flex;
			flex-direction: column;
				justify-content: center; /* Centra verticalmente el contenido de .right-column */
			}

			.right-column h1 {
				font-size: 500%;
				font-family: 'Dosis', sans-serif;

			}

			.right-column h2 {
				font-size: 120%;
				font-family: 'Dosis', sans-serif;
			}
	</style>
</head>
<body>

	<!--<h1 class="display-4">Bienvenido</h1>-->
	<!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
	
	

	<div class="banner">
		<div class="left-column">
			<img src="images/home.jpg">
		</div>
		
		<div class="right-column">
			<h1>BIENVENIDO</h1>
			<h2>ALQUILER DE COMPUTADORAS PARA JUEGOS E INTERNET</h2>
		</div>
	</div>


	<!--<section>
		<h2>BIENVENIDO</h2>
		<p>ALQUILER DE COMPUTADORAS PARA JUEGOS E INTERNET</p>
	</section>-->
	
</body>
