@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<!--<h1 class="display-4">Bienvenido</h1>-->
	<!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
	<section>
		<!-- Aquí puedes colocar tu imagen o contenido multimedia -->
		<img src="ruta/a/tu/imagen.jpg" alt="Imagen descriptiva">
	</section>
	<!--Alineamos el texto a la derecha-->
	<style>
		section {
			text-align: right; /* Alinea el texto al centro */
			margin-top: 50px; /* Agrega margen arriba para separarlo de otros elementos */
		}

		h2 {
			font-size: 36px; /* Ajusta el tamaño del texto */
			margin-bottom: 10px; /* Agrega margen abajo para separarlo del párrafo siguiente */
		}

		p {
			font-size: 18px; /* Ajusta el tamaño del párrafo */
		}
	</style>

	<div class="text-center">
		<section>
			<h2>BIENVENIDO</h2>
			<p>ALQUILER DE COMPUTADORAS PARA JUEGOS E INTERNET</p>
		</section>
	</div>


	<!--<section>
		<h2>BIENVENIDO</h2>
		<p>ALQUILER DE COMPUTADORAS PARA JUEGOS E INTERNET</p>
	</section>-->
</div>
