@model CyberWebSystem.Models.Cliente
<!--La siguiente linea ViewData["Title"] = "Create"; es para cambiar el titulo de la pagina-->
@{
	ViewData["Title"] = "Create";
}

<h1>Crear Nuevo</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="NombreCompleto" class="control-label"></label>
				<input asp-for="NombreCompleto" class="form-control" />
				<span asp-validation-for="NombreCompleto" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Ci" class="control-label"></label>
				<input asp-for="Ci" class="form-control" />
				<span asp-validation-for="Ci" class="text-danger"></span>
			</div>
			<!--Al lado del boton crear se agrega un boton para volver a la lista de clientes-->
			<div class="form-group mt-3">
				<!--Para cambiar el nobre del boton se cambia el value-->
				<input type="submit" value="GUARDAR" class="btn btn-primary" />
				<a asp-action="Index" class="btn btn-info">Regresar</a>
			</div>
		</form>
	</div>
</div>

