@model CyberWebSystem.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ci)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="ELIMINAR" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-info">REGRESAR</a>
    </form>
</div>
