@model CyberWebSystem.Models.Cliente

@{
	ViewData["Title"] = "Details";
}

<h1>Vinvular Flete</h1>

<div>
	<h5>
		Client: @Html.DisplayFor(model => model.NombreCompleto)
		<span style="margin-left: 50px;">CI: @Html.DisplayFor(model => model.Ci)
	</h5>
	<hr />
	<!--la etiqueta dl es para mostrar los datos en forma de lista-->
	<dl class="row justify-content-center">
		<dt class="col-sm-8 text-center">
			Lista de Computadoras
		</dt>
	</dl>
</div>
<div>
	<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Edit</a>
	<a asp-action="Index" class="btn btn-info">REGRESAR</a>
</div>
