@{
    Layout = null;
}

<!-- recordartorio: los paquetes usados en html y css son importados de la nube(internet)
     por tanto si se desea ver la pagina completa se necesitara un buen internet -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/Vexels-Office-Desktop.512.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/style.css">
    <!--===============================================================================================-->
    <title>Login | CyberSystem</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="box-login" id="login">
                <div class="top-header">
                    <h3>CYBER SYSTEM</h3>
                    <small>Ingresar como empleado</small>
                </div>
                <form asp-controller="Login" asp-action="Login" method="post">
                    <div class="input-group">
                        <div class="input-field">
                            <input type="email" class="input-box" id="logEmail" name="logEmail" required>
                            <label for="logEmail">Correo Electrónico</label>
                        </div>
                        <!--Observacion: Faltaba un cierre de div-->
                    </div>
                    <div class="input-field">
                        <input type="password" class="input-box" id="logPassword" name="logPassword" required>
                        <label for="logPassword">Contraseña</label>
                        <div class="eye-area">
                            <div class="eye-box" onclick="myLogPassword()">
                                <i class="fa-regular fa-eye" id="eye"></i>
                                <i class="fa-regular fa-eye-slash" id="eye-slash"></i>
                            </div>
                        </div>
                    </div>
                    <div class="remember">
                        <input type="checkbox" id="formCheck" class="check">
                        <label for="formCheck">Recuerdame</label>
                    </div>
                    <div class="input-field">
                        <input type="submit" class="input-submit" value="INICIAR SESIÓN" required>
                    </div>
                </form>
                @if (TempData["LoginError"] != null)
                {
                    <div class="alert alert-error">@TempData["LoginError"]</div>
                }
                <div class="top-header">
                    <small>Es usted un cliente?<br>Ingresa a nuestra lista de maquinas disponibles</small>
                </div>
                <!---------------------------- cliente --------------------------------------->

                <a class="input-field" asp-controller="Equipoes" asp-action="Index">
                    <input type="button" class="input-submit" value="Maquinas disponibles" required>
                </a>


            </div>
        </div>



    </div>
    <script src="~/style.js"></script>
</body>
</html>